<!DOCTYPE html>
<html>
<head>
    {% load static %}
{% include 'movies/head.html' %}

</head>
<body>
{% include 'movies/nav.html' %}
<div class="page_title">
  movie's List
</div>
    {% for movie in latest_movies_list %}
        <div role="row"></div>
          <div class="col-md-4">
            <a href="/movies/movies_list/movies_selected/{{ movie.id }}"class="thumbnail" title="{{movie.video_name}}"><img class="video_img_list" src="{% static movie.video_img.url %}"  title="{{movie.video_name}}"/></a>
          </div>
        </div>
    {% endfor %}
</body>
