<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'movies:index' %}">Movies</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'movies:movies_list' %}">Movie's List</a></li>
          <li><a href="{% url 'movies:random_movie' %}"><i class="fa fa-random  fa-1x"></i></a></li>
          <li><a href="{% url 'movies:search_video' %}"><i class="fa fa-search  fa-1x"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'movies:login_user' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="{% url 'movies:logout_user' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
